h1 {
  margin-bottom: 0;
  margin-top: 5px;
  align-self: start;
  width: 20%;
}
header{
  display: flex;
  background-color: #1c87c9;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  top: 0;
}
nav {
  display: flex;
  justify-content: end;
  padding: 5px;
  width: 30%;
}

app-dice-roller {
  width: 50%;
}
img {
  position: absolute;
  width: 100%;
  z-index: -1;
}
router-outlet {
  position: relative;
}

app-messages {
  position: relative;
}
nav a {
  padding: 1rem;
  text-decoration: none;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  display: inline-block;
  background-color: #e8e8e8;
  color: #3d3d3d;
  border-radius: 4px;
  font-weight: bold;

}

nav a:hover {
  color: white;
  background-color: #42545C;
}
nav a:active {
  background-color: black;
}

