<header>
  <h1>{{title}}</h1>
  <app-dice-roller></app-dice-roller>
  <nav>
    <a routerLink="/dashboard">Dashboard </a>
    <a routerLink="/characters">Characters </a>
    <a routerLink="/newCharacter">New Character </a>
    <a routerLink="/initiative">Initiative Tracker</a>
  </nav>
</header>
<img src="assets/scenery-list.jpg" alt="background-image">
<router-outlet></router-outlet>
<button id="shutdowm" (click)="serverShutdown()">Server Herunterfahren</button>
<app-messages hidden></app-messages>
