
<h2>My Characters</h2>
<ul class="characters">
  <li *ngFor="let character of characters">
    <a routerLink="/detail/{{character.id}}">
      <span class="badge">{{character.id}}</span>{{character.name}}
    </a>
    <button type="button" class="delete" title="delete character"
            (click)="delete(character)">x</button>
  </li>
</ul>

<div>
  <label for="new-character">Character name: </label>
  <input id="new-character" #characterName />

  <button type="button" class="add-button" (click)="add(characterName.value); characterName.value=''">
    Add character
  </button>
</div>

